table{
    width: 100%;
}

th {
    color:red;
    font-size: 1.5em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }

.spotLoc{
    text-align: center;
}

.spotName, .spotDesc{
    vertical-align: top;
}

.spotName {
    color: blue;
}